* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f2ef;
  user-select: none;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1.5rem;
  padding: 1.5rem;
  place-items: center;
}

.CV {
  align-self: flex-start;
}

.Header {
  font-weight: bold;
  font-size: 1.2rem;
}

.Footer {
  font-size: 0.8rem;
}